#loginXml {
    -fx-background-color : #ffffffff;
}

#mainHBox {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

#imgBox {
    -fx-background-color :  #5a14a0;
    -fx-background-radius: 16 0 0 10;
}

#logoImage {
    -fx-fit-height: 268.0;
    -fx-fit-width: 256.0;
    -fx-pick-on-bounds: true;
    -fx-preserve-ratio: true;
}

#logoText {
    -fx-fill: WHITE;
    -fx-stroke-type: OUTSIDE;
    -fx-stroke-width: 0.0;
    -fx-text: Chatty;
    -fx-wrapping-width: 166.2203450202942;
    -fx-font-family: "Bauhaus 93";
    -fx-font-size: 48.0;
}

#loginBox {
    -fx-background-color :  #f9dbdb;
    -fx-background-radius : 0 10 10 0;
}

#loginLabel {
    -fx-text-fill: #22064e;
    -fx-font-family: "Times New Roman Bold";
    -fx-font-size: 36.0;
}

#phoneNumberField, #passwordField {
    -fx-background-radius : 15;
    -fx-pref-height: 42px;
    -fx-pref-width: 250px;
}

#loginBtn {
    -fx-background-color :  #5a14a0;
    -fx-background-radius :  15;
    -fx-text-fill: WHITE;
    -fx-font-family: "Times New Roman Bold";
    -fx-font-size: 18.0;
}

#signUpLabel {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14.0;
}

#signUpLink {
    -fx-text-fill: #3a0d82;
    -fx-font-family: "System Bold";
    -fx-font-size: 12.0;
}