.root {
    -fx-background-color: #323232;
}

.button {
    -fx-background-color: #353535;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-family: Arial, sans-serif;
    -fx-background-radius: 50px;
}
.button:hover {
    -fx-background-color: #4C4C4C;
}

.textField {
    -fx-background-color: #3F3F3F;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #737373;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}

.label {
    -fx-text-fill: #919191;
    -fx-font-size: 14px;
    -fx-font-family: Arial, sans-serif;
}

.list-view {
    -fx-background-color: #323232;
    -fx-control-inner-background: #353535;
    -fx-cell-hover-color: #4C4C4C;
    -fx-selection-bar: #2C80FF;
    -fx-selection-bar-non-focused: #737373;
}

.list-view .cell {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #353535;
}

.list-view .cell:selected {
    -fx-background-color: #2C80FF;
}

.list-view .cell:hover {
    -fx-background-color: #4C4C4C;
}