/* Name Label */
.custom-hbox {
    -fx-spacing: 10; /* Adjust spacing here */
    -fx-background-color: rgb(0, 28, 48); /* Dark background */
    -fx-text-fill: white; /* White text color */
}

/* Name Label */
.name-label {
    -fx-text-fill: rgb(218, 255, 251); /* White */
    -fx-font-size: 20px;
}

/* Phone Number Label */
.phone-label {
    -fx-text-fill: rgb(100, 204, 197); /* Turquoise */
    -fx-font-size: 20px;
}

/* Delete Button */
.delete-button {
     -fx-text-fill: white; /* White text color */
     -fx-background-color: red; /* Red background */
     -fx-background-radius: 30; /* Rounded corners */
     -fx-min-width: 15px; /* Adjust width as needed */
     -fx-min-height: 15px; /* Adjust height as needed */
     -fx-font-size: 25px; /* Adjust font size as needed */
}