.context-menu {
    -fx-background-color: #323232;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

.left_container {
    -fx-background-color: #4C4C4C;
}

.left_container Button {
    -fx-background-color: #4C4C4C;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-size: 0.9em;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 70;
    -fx-pref-height: 50;
    -fx-alignment: center;
}

.left_container Button:hover {
    -fx-background-color: #FF4A4A;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-size: 0.9em;
    -fx-pref-width: 60;
    -fx-pref-height: 40;
    -fx-alignment: center-left;
}
