/* notification-context-menu-styles.css */

.notification-context-anchor-pane {
    -fx-background-color: #323232; /* Dark background color */
    -fx-border-color: #737373; /* Medium gray border color */
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}

.notification-context-list-view {
    -fx-background-color: #323232; /* Dark background color */
    -fx-border-color: #737373; /* Medium gray border color */
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}

.notification-context-list-view .list-cell {
    -fx-background-color: #323232; /* Dark background color */
    -fx-text-fill: #FFFFFF; /* White text color */
    -fx-padding: 10px;
    -fx-border-color: #737373; /* Medium gray border color */
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.notification-context-list-view .list-cell:filled:selected {
    -fx-background-color: #FF4A4A; /* Red background color for selected item */
}

.notification-context-list-view .list-cell:filled:selected:hover {
    -fx-background-color: #737373; /* Medium gray background color on hover for selected item */
}

.notification-context-list-view .list-cell:filled:hover {
    -fx-background-color: #737373; /* Medium gray background color on hover */
}
