/* notification-context-menu-element-styles.css */

.notification-context-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF; /* White text color */
}

.notification-context-button {
    -fx-background-color: #323232; /* Dark background color */
    -fx-text-fill: #FFFFFF; /* White text color */
    -fx-font-size: 12px;
    -fx-border-radius: 5px;
    -fx-pref-width: 80px; /* Set the preferred width */
    -fx-pref-height: 30px; /* Set the preferred height */
}

.notification-context-button:hover {
    -fx-background-color: #FF4A4A; /* Red background color on hover */
}

/* Style for the ImageView */
.notification-context-image-view {
    -fx-smooth: true;
}

/* Style for the Pane */
