.register_form_container {
    -fx-spacing: 15;
    -fx-padding: 0 20% 0 0; /* top right bottom left */
    -fx-background-color: #323232; /* Dark background */
    -fx-font: 11px 'SF Pro Display', 'Arial', sans-serif; /* New font */
}

.register_logo_container {
    -fx-alignment: center;
    -fx-background-color: #353535; /* Darker shade of gray */
    -fx-font: 15px 'SF Pro Display', 'Arial', sans-serif; /* New font */
}

.register_logo_container Text {
    -fx-font-size: 2em;
    -fx-fill: #737373; /* Medium gray text color */
}

.register_logo_container FontAwesomeIconView {
    -fx-fill: #FF4A4A; /* Red color for the icon */
}

.register_form_container Label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-margin-bottom: 10px; /* Add space below each label */
}

.register_form_container ImageView {
    -fx-margin-bottom: 10px; /* Add space below each label */
    -fx-background-color: #353535; /* Darker shade of gray */
    -fx-border-color: #FF4A4A; /* Red color border */
}

.input_field {
    -fx-background-color: #4C4C4C; /* Dark gray background */
    -fx-background-radius: 5;
    -fx-border-color: #737373; /* Medium gray border color */
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-padding: 10px;
    -fx-border-width: 2px;
    -fx-margin-bottom: 10px; /* Add space below each input field */
    -fx-text-fill: #FFFFFF;
}

.register_form_container ComboBox {
    -fx-background-color: #323232; /* Dark background */
    -fx-border-color: #737373; /* Medium gray border color */
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-padding: 10px;
    -fx-border-width: 2px;
    -fx-margin-bottom: 10px; /* Add space below each ComboBox */
    -fx-text-fill: #FFFFFF; /* White text color */
}

.register_form_container ComboBox .list-cell {
    -fx-background-color: #323232; /* Dark background for the dropdown */
    -fx-text-fill: #FFFFFF; /* White text color for unselected items in the dropdown */
}

.register_form_container ComboBox .list-cell:selected {
    -fx-background-color: #4C4C4C; /* Darker background for the selected item in the dropdown */
    -fx-text-fill: #FFFFFF; /* White text color for the selected item in the dropdown */
}

.register_form_container ComboBox .list-cell:hover {
    -fx-background-color: #4C4C4C; /* Darker background on hover for items in the dropdown */
    -fx-text-fill: #FFFFFF; /* White text color on hover for items in the dropdown */
}


.register_form_container DatePicker {
    -fx-background-color: #323232; /* Dark background */
    -fx-control-inner-background: #323232; /* Dark background for the text area content */
    -fx-border-color: #737373; /* Medium gray border color */
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-padding: 10px;
    -fx-border-width: 2px;
    -fx-margin-bottom: 10px; /* Add space below each DatePicker */
    -fx-text-fill: #000000;
}


/* cell-styles.css */

/* cell-styles.css */

.cell-default {
    -fx-background-color: #323232; /* Dark background color */
    -fx-text-fill: #FFFFFF; /* White text color */
    -fx-border-color: #737373; /* Medium gray border color */
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-padding: 10px;
    -fx-border-width: 2px;
}

.cell-hover {
    -fx-background-color: #4C4C4C; /* Darker background color on hover */
    -fx-text-fill: #FFFFFF; /* White text color on hover */
    -fx-border-color: #737373; /* Medium gray border color on hover */
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-padding: 10px;
    -fx-border-width: 2px;
}


.register_form_container DatePicker .arrow-button {
    -fx-background-color: #323232; /* Dark background */
    -fx-border-color: #737373; /* Medium gray border color */
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-padding: 10px;
    -fx-border-width: 2px;
    -fx-margin-bottom: 10px; /* Add space below each DatePicker */

}

.register_form_container DatePicker .arrow-button:hover {
    -fx-background-color: #323232; /* Dark background */
    -fx-border-color: #737373; /* Medium gray border color */
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-padding: 10px;
    -fx-border-width: 2px;
    -fx-margin-bottom: 10px; /* Add space below each DatePicker */
    -fx-cursor: hand;
}

.register_form_container DatePicker .arrow-button .arrow {
    -fx-background-color: #323232; /* Dark background */
    -fx-border-color: #737373; /* Medium gray border color */
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-padding: 10px;
    -fx-border-width: 2px;
    -fx-margin-bottom: 10px; /* Add space below each DatePicker */
    -fx-text-fill: #737373; /* Medium gray text color */
}

.register_form_container DatePicker .arrow-button .arrow:hover {
    -fx-background-color: #323232; /* Dark background */
    -fx-border-color: #737373; /* Medium gray border color */
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-padding: 10px;
    -fx-border-width: 2px;
    -fx-margin-bottom: 10px; /* Add space below each DatePicker */
    -fx-text-fill: #737373; /* Medium gray text color */
    -fx-cursor: hand;
}

.register_form_container TextArea {
    -fx-control-inner-background: #4C4C4C; /* Dark background for the text area content */
    -fx-background-color: #323232; /* Dark background */
    -fx-border-color: #737373; /* Medium gray border color */
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-padding: 10px;
    -fx-border-width: 2px;
    -fx-margin-bottom: 10px; /* Add space below each TextArea */
    -fx-text-fill: #FFFFFF;
}


.register_form_container Button {
    -fx-background-color: #2C80FF; /* Blue color for the button */
    -fx-background-radius: 5;
    -fx-border-color: #2C80FF; /* Blue border color */
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-text-fill: #FFFFFF; /* White text color */
}

.register_form_container Button:hover {
    -fx-background-color: #FFFFFF; /* White background on hover */
    -fx-background-radius: 5;
    -fx-border-color: #2C80FF; /* Blue border color on hover */
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-text-fill: #2C80FF; /* Blue text color on hover */
    -fx-cursor: hand;
}

.error_lbl {
    -fx-font-size: 1.1em;
    -fx-text-fill: #FF4A4A; /* Red color for the error label */
    -fx-margin-top: 20px; /* Add space above the error label */
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-hbar-policy: never; /* hide horizontal scrollbar */
    -fx-vbar-policy: never; /* hide vertical scrollbar */
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}



#exitButton,
#minimizeButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 1.1em;
    -fx-text-fill: #FFFFFF; /* White text color */
}

#exitButton:hover {
    -fx-background-color: #FF4A4A; /* Red color on hover */
    -fx-background-radius: 5;
    -fx-border-color: #FF4A4A; /* Red border color on hover */
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-text-fill: #FFFFFF; /* White text color on hover */
    -fx-cursor: hand;
}

#minimizeButton:hover {
    -fx-background-color: #737373; /* Medium gray background on hover */
    -fx-background-radius: 5;
    -fx-border-color: #737373; /* Medium gray border color on hover */
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-text-fill: #FFFFFF; /* White text color on hover */
    -fx-cursor: hand;
}