.register_container{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-color: #000000;
    -fx-border-radius: 10;
}

.register_form_container{
    -fx-spacing: 15;
    -fx-alignment: top-left;
}

.register_form_container Label{
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.input_field{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-color: #000000;
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
}

.register_form_container Button{
    -fx-background-color: #000000;
    -fx-background-radius: 5;
    -fx-border-color: #000000;
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 350;
    -fx-pref-height: 30;
}

.register_form_container Button:hover{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-color: #000000;
    -fx-border-radius: 5;
    -fx-font-size: 1.1em;
    -fx-text-fill: #000000;
    -fx-pref-width: 350;
    -fx-pref-height: 30;
    -fx-cursor: hand;
}

.error_lbl{
    -fx-font-size: 1.1em;
    -fx-text-fill: #ff0000;
}

.register_logo_container{
    -fx-alignment: center;
    -fx-background-color: #000000;
}

.register_logo_container Text{
    -fx-font-size: 2em;
    -fx-fill: #ffffff;
}

.register_logo_container FontAwesomeIconView{
    -fx-fill: #ECF39E;
}