#sidebar {
    -fx-background-color: #f58c32; /* Orange color */
}

#sidebarButtons{
    -fx-background-color: #f58c32; /* Orange color */
    -fx-text-fill: #ffffff; /* White text color */
}

#sidebarButtons:hover {
    -fx-background-color: #e47624; /* Slightly darker orange on hover */
}

#subScene {
   -fx-background-color:
       linear-gradient(from 0% 93% to 0% 100%,#a34313 0%,#903b12 100%),
       #9d4024,
       #d86e3a,
       radial-gradient(center 50% 50%, radius 100%,#d96e3a,#c54e2c),
       #f5f5f5;
}
#green
{
    -fx-background-color:
            linear-gradient(#f0ff35,#a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #395306;
}

#green:hover
{
    -fx-background-color:
            linear-gradient(#a9ff00,#f0ff35),
            radial-gradient(center 50% -40%, radius 200%, #80c800 45%, #b8ee36 50%);
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #395306;

}

#redButton
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#a34313 0%,#903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%,#d96e3a,#c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

#redButton:hover
{

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#a34313 0%,#903b12 100),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%,radius 100%,#ea7f4b,#c54e2c);
}

#redButton:pressed
{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}

#greenButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #006400 0%, #006400 100%),
            #009933,
            #00cc66,
            radial-gradient(center 50% 50%, radius 100%, #00cc66, #00802b);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

#greenButton:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #006400 0%, #006400 100%),
            #009933,
            #00cc66,
            radial-gradient(center 50% 50%, radius 100%, #00cc66, #00802b);
}

#greenButton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}


#announcementButton {
    -fx-background-color:
            #707070,
            linear-gradient(#fcfcfc, #f3f3f3),
            linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

#announcementButton:hover {
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

#progressIndicator {
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-max-width: 100px;
    -fx-max-height: 100px;
    -fx-background-radius: 50%;
    -fx-progress-color: red;
}

.male-pie {
    -fx-pie-color: #4169E1;
}

.female-pie {
    -fx-pie-color: #FF69B4;
}