.anchor-pane {
    -fx-pref-height: 600.0;
    -fx-pref-width: 300.0;
}

/* Apply styles to the HBox inside the AnchorPane */
.anchor-pane .h-box {
    -fx-pref-height: 71.0;
    -fx-pref-width: 300.0;
    -fx-spacing: 45.0;
    -fx-anchor-pane-left: 0.0;
    -fx-anchor-pane-right: 0.0;
    -fx-anchor-pane-top: 0.0;
}

/* Apply styles to the TextField inside the AnchorPane */
.search-field {
    -fx-background-radius: 15; /* Adjust the value based on your preference */
    -fx-padding: 5 10 5 10; /* Adjust the padding as needed */
}
