.hbox-style Label {
    -fx-background-color: rgba(246, 241, 238, 0.7); /* light gray with 70% opacity */
    -fx-border-radius: 15; /* make the label rounder */
    -fx-background-radius: 15; /* make the label rounder */
    -fx-padding: 5px; /* Add padding */
    -fx-cursor: hand; /* Change cursor to hand when hovering over the label */
    /* align the text to the center */
    -fx-alignment: center;

}

.hbox-style Label:hover {
    -fx-background-color: rgba(237, 125, 49, 0.7); /* Change color on hover */
}