/* othersProfile.css */

/* Apply the color scheme to the desired elements */
.root {
    /* Background color */
    -fx-background-color: rgb(246, 241, 238);

    /* Add a border */
    -fx-border-color: rgb(237, 125, 49);
    -fx-border-width: 2px;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    /* Add a drop shadow for 3D effect */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 1);

    /* Add some padding and margin */
    -fx-padding: 10px;
    -fx-margin: 10px;
}

.container_vbox {
    /* Background color */
    -fx-background-color: rgb(246, 241, 238);
    /* Add a border */
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color: rgb(237, 125, 49);
    -fx-border-width: 2px;

    /* Add a drop shadow for 3D effect */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 1);

    /* Add some padding and margin */
    -fx-padding: 10px;
    -fx-margin: 10px;
}

.button {
    /* Button color */
    -fx-background-color: rgb(237, 125, 49);

    /* Make the button round */
    -fx-border-radius: 30;
    -fx-background-radius: 30;

    /* Add some cool effects */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 1);
}

.button:hover {
    /* Darker color on hover */
    -fx-background-color: rgb(108, 95, 91);
}

.label {
    /* Label color */
    -fx-text-fill: rgb(108, 95, 91);

    /* Add some nice effects */
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.circle {
    /* Circle color */
    -fx-fill: rgb(79, 74, 69);
}

/* othersProfile.css */

/* Existing styles... */

/* New style for the exit button */
#exitButton {
    /* Button color */
    -fx-background-color: rgb(237, 125, 49);

    /* Make the button round */
    -fx-border-radius: 30;
    -fx-background-radius: 30;

    /* Add some cool effects */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 1);
}

#exitButton:hover {
    /* Darker color on hover */
    -fx-background-color: rgb(108, 95, 91);
}